<a href="https://colab.research.google.com/github/swarubm/DATA-VISUALIZATION-/blob/main/1%20%20%20Univariate_Analysis_non_graphical_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv("/content/AB_NYC_2019 (1).csv")

In [8]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787.0,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149.0,1.0,9.0,19-10-2018,0.21,6.0,365.0
1,2595,Skylit Midtown Castle,2845.0,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225.0,1.0,45.0,21-05-2019,0.38,2.0,355.0
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632.0,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150.0,3.0,0.0,NaN,NaN,1.0,365.0
3,3831,Cozy Entire Floor of Brownstone,4869.0,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89.0,1.0,270.0,05-07-2019,4.64,1.0,194.0
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192.0,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80.0,10.0,9.0,19-11-2018,0.10,1.0,0.0

In [9]:
df["id"]=df["id"].astype(str)
df["host_id"]=df["host_id"].astype(str)
df["latitude"]=df["latitude"].astype(str)
df["longitude"]=df["longitude"].astype(str)

In [10]:
df.describe()

,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,29220.000000,29220.000000,29220.000000,24390.000000,29220.000000,29220.000000
mean,148.235626,7.060198,32.490246,1.019476,3.542129,99.238946
std,226.224472,22.481962,54.187623,1.389228,12.105276,130.108574
min,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,70.000000,2.000000,1.000000,0.110000,1.000000,0.000000
50%,109.000000,3.000000,8.000000,0.400000,1.000000,8.000000
75%,174.000000,5.000000,40.000000,1.430000,2.000000,201.000000
max,10000.000000,1250.000000,629.000000,19.750000,232.000000,365.000000

## Categorical Data

In [11]:
df.nunique()

id                                29221
name                              28744
host_id                           24125
host_name                          7967
neighbourhood_group                   5
neighbourhood                       215
latitude                          15053
longitude                         11340
room_type                             3
price                               527
minimum_nights                       90
number_of_reviews                   394
last_review                        1762
reviews_per_month                   752
calculated_host_listings_count       40
availability_365                    366
dtype: int64

In [12]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [13]:
df["room_type"].value_counts()

room_type
Entire home/apt    15594
Private room       13122
Shared room          504
Name: count, dtype: int64

In [14]:
df["room_type"].value_counts(normalize = True)

room_type
Entire home/apt    0.533676
Private room       0.449076
Shared room        0.017248
Name: proportion, dtype: float64

In [15]:
df["neighbourhood_group"].value_counts()

neighbourhood_group
Manhattan        13076
Brooklyn         12646
Queens            2818
Bronx              501
Staten Island      179
Name: count, dtype: int64

## Numerical Data

In [16]:
df["price"].value_counts(bins = 5)

(-10.001, 2000.0]    29174
(2000.0, 4000.0]        30
(4000.0, 6000.0]        10
(8000.0, 10000.0]        4
(6000.0, 8000.0]         2
Name: count, dtype: int64

In [17]:
bins = [-10,0, 50,100, 200,500,800,2000,4000,10000]
df["price"].value_counts(bins = bins)

(100.0, 200.0]       10595
(50.0, 100.0]        10546
(200.0, 500.0]        3930
(0.0, 50.0]           3605
(500.0, 800.0]         295
(800.0, 2000.0]        192
(2000.0, 4000.0]        30
(4000.0, 10000.0]       16
(-10.001, 0.0]          11
Name: count, dtype: int64

# Measures of central tendency

In [18]:
df["price"].mean()

np.float64(148.23562628336757)

In [19]:
df["price"].median()

109.0

In [20]:
df["price"].std()

226.22447241036664

In [21]:
df["minimum_nights"].mean()

np.float64(7.0601984941820675)

In [22]:
df["minimum_nights"].median()

3.0

# Measure of Spread

In [23]:
df["price"].skew()

np.float64(20.3205835281983)

In [24]:

df["price"].kurt()

np.float64(678.3768171576044)

In [25]:
df[df["availability_365"]==365].shape[0]

708

In [28]:
# Select only numerical columns before calculating correlation         (with help of gemini)
numerical_df = df.select_dtypes(include=['number'])
display(numerical_df.corr())

,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
price,1.000000,0.032760,-0.044987,-0.044714,0.036804,0.066889
minimum_nights,0.032760,1.000000,-0.078859,-0.101743,0.167903,0.148142
number_of_reviews,-0.044987,-0.078859,1.000000,0.840825,-0.069521,0.285022
reviews_per_month,-0.044714,-0.101743,0.840825,1.000000,-0.070833,0.229521
calculated_host_listings_count,0.036804,0.167903,-0.069521,-0.070833,1.000000,0.273383
availability_365,0.066889,0.148142,0.285022,0.229521,0.273383,1.000000